* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-around;
}
 header {
    background-image: url(../images/Binary_blue.jpg);
    height: 150px;
}

h1 {
    text-align: center;
    color: azure;
    font-size: 36px;
}

nav ul {
    display: inline-flex;
    list-style: none;
    margin-top: 45px;
}
nav li {
    text-align: right;
    margin-right: 10px;
}

nav a, footer a {
    color: azure;
}

nav a {
    display: flex;
    justify-content: space-evenly;
} 

nav a:hover {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    color: navy;
    text-align: center;
}

.bio {
    color: navy;
    margin: 3.5em 2em; 
    padding: 5px;
    border: 3px solid rgb(48, 63, 148);
    box-shadow: 3px 6px rgb(48, 63, 148);
}

#profile {
    float: left;
    height: 10em;
    width: 10em;
}

#work, #contact {
    text-align: center;
    color: navy;
}

#work {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(48, 63, 148);
}

.first > * {
    display: inline;
}

.first img {
    width: 100%;
    height: auto;
}

.small-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    width: 50%;
    /* height: auto; */
}

.project img {
    width: 20em;
    height: 20em;
}

footer {
    background-image: url(../images/Binary_blue.jpg);
    margin-top: auto;
    height: 10em;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-flex;
}

footer a {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    
}