* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Spreading out the h1 and nav bar */
header {
    display: flex;
    justify-content: space-around;
}
 header {
    background-image: url(../images/Binary_blue.jpg);
    height: 7rem;
}

/* Centering h1 text, changing color, changing font size */
h1 {
    text-align: center;
    color: azure;
}

/* Displaying nav bar horizontally */
.navbar ul {
    display: inline-flex;
    list-style: none;
    margin-top: 45px;
}


nav li {
    text-align: right;
    margin-right:  2em;
}

nav a, footer a {
    color: azure;
}

.navbar a {
    display: flex;
    justify-content: space-evenly;
} 

.navbar a:hover {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}

h2 {
    color: navy;
    text-align: center;
}

.bio {
    position: relative;
    color: navy;
    margin: 3.5em 2em; 
    padding: 2px;
    border: 3px solid rgb(48, 63, 148);
    box-shadow: 3px 6px rgb(48, 63, 148);
    overflow: hidden;
    
}


.bio div {
        overflow: hidden;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3%;

}

#profile {
    float: left;
    margin-right: 15px;
    box-sizing: border-box;
    max-height: 120px;
}

#work, #contact {
    text-align: center;
    color: navy;
}

/* Change items in class "large-box to align vertically */
/* .large-box {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(48, 63, 148);
} */

/* .first img {
    width: 100%;
    height: 20em;
} */

.project-link {
    text-align: center;
    position: relative;
    top: -25px;
}

/* /* #cr-practice {
    text-align: center;
}

/* Change alignment of class "small-boxes" to horizontal
.small-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.row {
    justify-content: center;
}

.card {
    justify-content: center;
}

img {
    height: 20rem;
}

/* .project {
    /* background-image: url(../images/bowtie-cat.png); 
    width: 50%;
    height: auto;
}

.project img {
    width: 15em;
    height: 15em; 
} */

footer {
    background-image: url(../images/Binary_blue.jpg);
    margin-top: auto;
    height: 10em;
}

footer ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

footer li {
    display: inline-flex;
    margin-top: 5em;
    padding-left: 35px;
}

footer a {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .small-boxes {
        display: flex;
        flex-direction: column;
    }
    #profile {
        width: 5em;
        height: 5em;
    }

    footer a {
        display: flex;
        flex-wrap: wrap;
    }
}